@charset "ISO-8859-1";


.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-radius: .3rem .3rem 0 0;
}

.testimonial-card .avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: -65px auto 0;
    overflow: hidden;
    border: 5px solid #fff;
}

.testimonial-card .avatar img {
    width: 100%;
}