<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/adminMember.css}"/>
</head>
<body>
	<div id="wrapper">
		<!--  Navigation  -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
		</nav>

		<!--  Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">MEMBER</h1>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						<div id="member-panel-react">
						
						</div>
						
					</div>


				</div>


			</div>
		</div>
		<!--  /#page-wrapper -->

	</div>
	<!--  /#wrapper -->


	<!-- Custom Theme JavaScript -->
	<th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>	
	<script th:src="@{/webpack/bundle.js}"></script>
	
	<!--
	<script type="text/babel" th:src="@{/jsx/admin/adminMember.js}">	
    </script>  
	 -->       
</body>
 
</html>