<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/mdbCard.css}"/>
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" th:href="@{/vendor/datetimepicker/css/daterangepicker.css}" />
<link rel="stylesheet" th:href="@{/css/adminEventEdit.css}"/>
</head>
<body>
	<!-- Modal -->
	<div id="addNewModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header text-center">	        
	      		<h4 class="modal-title w-100 font-bold">NEW TIMELINE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
	      </div>
	      <div class="modal-body mx-3">
	        	<form id="form-new-member" class="" method="post" action="">
					<input type="reset" style="display: none"/>				
					<div class="md-form form-group">
				    	<i class="fa fa-calendar prefix grey-text"></i>
                        <input type="text" class="form-control" id="datetime" placeholder="Select value">
                        <label for="form3">Datetime</label>
                    </div>								
	                <label class="error studentCode"></label>
					<div class="md-form">																												
						<i class="fa fa-lock fa-lg prefix grey-text" aria-hidden="true"></i>
						<input type="text" class="form-control validate" name="studentCode"/>
						<label data-error="" data-success="" for="defaultForm-email">
							Name <span style="color:red"> ( * ) </span>
						</label>								
					</div>
					
										
					<div class="md-form">																														
						<i class="fa fa-user fa prefix grey-text" aria-hidden="true"></i>
						<input type="text" class="form-control validate" name="fullname"/>
						<label data-error="" data-success="" for="defaultForm-email">
							Description <span style="color:red"> ( * ) </span>
						</label>								
					</div>									
				    
					
				</form>
	      </div>
	      <div class="modal-footer d-flex justify-content-center">
	        <button type="button" id="btn-new-member" class="btn btn-primary">Add</button>	        
	      </div>
	    </div>
	
	  </div>
	</div>
	<!--  End Modal Add New Member -->
	<header>
		<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>			
	</header>
	<main>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">					
					<th:block th:include="fragments/adminUtil :: sidebar-fragment"></th:block>																	
					<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
						<div class="row">
							<div class="col-md-12">
								<h1 class="page-header">Update Event</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<a type="submit" class="btn btn-unique btn-sm" href="#">
									<i class="fa fa-arrow-left mr-1"></i>Back 
								</a>
							</div>
							 
						</div>
						<div class="row">
							<div class="col-md-4">								
								<div  th:object="${event}" class="card testimonial-card">
									 <!--Bacground color-->
								    <div class="card-up" style="height: 50px">
								    	Event									   
								    </div>								    								
																	   
								    <div class="card-body">
								    	<div class="form-group md-form">
								    		<i class="fa fa-calendar prefix grey-text"></i>
                                        	<input type="text" class="form-control" id="daterange" placeholder="Select value">
                                        	<label for="form3">Date</label>
                                    	</div>		
								    	<div class="md-form">
									        <i class="fa fa-universal-access prefix grey-text"></i>
									        <input 
									         	type="text" 
									         	id="form3" class="form-control" 
									         	th:value="${event.name}"												         										         	
									         	>
									        <label for="form3">Event Name</label>
									    </div>		
									      <div class="text-center">
										        <button type="submit" class="btn btn-unique">
										        	Update <i class="fa fa-paper-plane-o ml-1"></i>
										        </button>										        
										  </div>
									    					   									
									    							   									  	    							   
								    </div>
								</div>	
								<div>
								</div>							
							</div>			
							<div class="col-md-8">
								 <div class="cart-up" style="height: 50px">
								 	<div class="row" >
								 		<div class="col-md-12 text-right">
								 			<button class="btn btn-primary" 
								 					data-toggle="modal" 
													data-target="#addNewModal">
								 				Add New
								 			</button>
								 		</div>
								 	</div>
								 </div>
								  <div class="card-body" th:object="${timelines}">
								  	 <table class="table table-hover">
								  	 	<thead>
								  	 		<tr>
									  	 		<th>NAME</th>
									  	 		<th>Datetime</th>
									  	 		<th>Edit</th>
									  	 		<th>Delete</th>									  	 						  	 		
									  	 	</tr>
								  	 	</thead>
								  	 	<tbody>
								  	 		<tr th:each="timeline : ${timelines}">
								  	 			<td th:text="${timeline.name}"></td>
								  	 			<td th:text="${timeline.date}"></td>
								  	 			<td align="center">
								                  <a>
								                  	<i class="fa fa-pencil"></i>
								                  </a>                 
								                </td>
								                <td align="center">
								                	<a> 		                  		  				  							  														  								
									                  	<i									                  		
									                  		class="fa fa-trash">
									                  	</i>
								                  	</a>
								                </td>								  	 		
								  	 		<tr>
								  	 	</tbody>
								  	 	
								  	 	
								  	 </table>
								  	
								  </div>	
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</main>
	<footer></footer>
		
    <!-- Custom Theme JavaScript -->
    <th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>
    <script th:src="@{/vendor/datetimepicker/js/moment.min.js}"></script>
    <script th:src="@{/vendor/datetimepicker/js/daterangepicker.js}"></script>
    
	<script th:src="@{/js/adminEventEdit.js}"></script>    
</body>
</html>