<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/adminMember.css}"/>
</head>
<body>
	<!-- Modal -->
	<div id="addNewModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header text-center">	        
	      		<h4 class="modal-title w-100 font-bold">NEW MEMBER</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
	      </div>
	      <div class="modal-body mx-3">
	        	<form id="form-new-member" class="" method="post" action="">
						<input type="reset" style="display: none"/>						
		                <label class="error studentCode"></label>
						<div class="md-form">																												
							<i class="fa fa-lock fa-lg prefix grey-text" aria-hidden="true"></i>
							<input type="text" class="form-control validate" name="studentCode"/>
							<label data-error="" data-success="" for="defaultForm-email">
								Student ID <span style="color:red"> ( * ) </span>
							</label>								
						</div>
						<label class="error fullname" ></label>
						<div class="md-form">																														
							<i class="fa fa-user fa prefix grey-text" aria-hidden="true"></i>
							<input type="text" class="form-control validate" name="fullname"/>
							<label data-error="" data-success="" for="defaultForm-email">
								Fullname <span style="color:red"> ( * ) </span>
							</label>								
						</div>

						<div class="md-form">													
							<i class="fa fa-envelope prefix grey-text"></i>									
							<input type="email" class="form-control validate" name="email"/>		
							<label data-error="" data-success="" for="defaultForm-email">Email</label>											
						</div>

						<div class="md-form">																							
							<i class="fa fa-phone-square fa-lg prefix grey-text" aria-hidden="true"></i>
							<input type="text" class="form-control validate" name="phone"/>
							<label data-error="" data-success="" for="defaultForm-email">Phone</label>																		
						</div>											
						
					</form>
	      </div>
	      <div class="modal-footer d-flex justify-content-center">
	        <button type="button" id="btn-new-member" class="btn btn-primary">Add</button>	        
	      </div>
	    </div>
	
	  </div>
	</div>
	<!--  End Modal Add New Member -->
	
	<header>
		<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
	</header>
	<main>		
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">					
					<th:block th:include="fragments/adminUtil :: sidebar-fragment"></th:block>																	
					<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
						<div class="row">
							<div class="col-md-12">
								<h1 class="page-header">MEMBER</h1>
							</div>
						</div>			
						<div class="row">
							<div class="col-md-12">
								<div id="member-panel-react">									
								</div>								
							</div>			
						</div>
					</div>
				</div>			
			</div>
		</div>
	</main>
	<footer></footer>
	
	
	<!-- Custom Theme JavaScript -->
	<th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>	
	<script th:src="@{/webpack/bundle.js}"></script>
		
	<script th:src="@{/js/adminMember.js}">	
    </script>  
	       
</body>
 
</html>