<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/adminMember.css}"/>
</head>
<body>
	<!-- Modal -->
	<div id="addNewModal" class="modal right fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Member</h4>
	      </div>
	      <div class="modal-body">
	        	<form id="form-new-member" class="" method="post" action="">
						<input type="reset" style="display: none"/>
						<div class="form-group">
							<label for="studentCode" class="cols-sm-2 control-label">Student Code</label><br>
							<label class="error studentCode" ></label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="studentCode" placeholder="Enter Student ID"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="fullname" class="cols-sm-2 control-label">Fullname</label><br>
							<label class="error fullname" ></label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="fullname"   placeholder="Enter Fullname"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email ( option )</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email"  placeholder="Enter Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="phone" class="cols-sm-2 control-label">Phone ( option )</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></span>
									<input type="phone" class="form-control" name="phone" placeholder="Enter Phone"/>
								</div>
							</div>
						</div>
						

						<div class="form-group ">
							<button type="button" id="btn-new-member" class="btn btn-primary btn-lg btn-block">Add</button>
						</div>
						
					</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	<!--  End Modal Add New Member -->
	
	<div id="wrapper">
		<!--  Navigation  -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
		</nav>

		<!--  Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">MEMBER</h1>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						<div id="member-panel-react">
						
						</div>
						
					</div>


				</div>


			</div>
		</div>
		<!--  /#page-wrapper -->

	</div>
	<!--  /#wrapper -->


	<!-- Custom Theme JavaScript -->
	<th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>	
	<script th:src="@{/webpack/bundle.js}"></script>
		
	<script th:src="@{/js/adminMember.js}">	
    </script>  
	       
</body>
 
</html>