<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Admin</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
</head>
<body>
	<header>
		<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
	</header>
	<main>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">					
					<th:block th:include="fragments/adminUtil :: sidebar-fragment"></th:block>																	
					<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
						<div class="row">
							<div class="col-md-12">
								<h1 class="page-header">Admin Management</h1>
							</div>
						</div>
		
		
						<div class="row">
							<div class="col-md-12">
										
							</div>			
						</div>
					</div>
				</div>
				


			</div>
		</div>
	</main>
	<footer></footer>
    <!-- Custom Theme JavaScript -->
    <th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>	
</body>
</html>