<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/loader.css}" />
</head>
<body>
	<div class="full-loader" id="loading">
		<div class="load-container load6">
			<div class="loader loader-lg">Loading...</div>
		</div>
	</div>
	<header>
		<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
	</header>
	<main>
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">					
					<th:block th:include="fragments/adminUtil :: sidebar-fragment"></th:block>																	
					<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
						<div class="row">
							<div class="col-md-12">
								<h1 class="page-header">Project</h1>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="project-panel-react"></div>															
							</div>			
						</div>
					</div>
				</div>				
			</div>
		</div>
	</main>
	<footer></footer>
	
	
    <!-- Custom Theme JavaScript -->
    <th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>
    <script th:src="@{/webpack/jsx/admin/project/bundle.js}"></script> 
</body>
</html>