<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
</head>
<body>
	<div id="wrapper">
		<!--  Navigation  -->		
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
			<th:block th:include="fragments/adminUtil :: nav-fragment"></th:block>
		</nav>
				
		<!--  Page Content -->
		<div id="page-wrapper">
			Events 
		</div>
		<!--  /#page-wrapper -->
		
	</div>		
	<!--  /#wrapper -->
	
	
    <!-- Custom Theme JavaScript -->
    <th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>
    
    
  
</body>
</html>