<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Admin</title>
<th:block th:include="fragments/adminUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/mdbMore.css}"/>
<link rel="stylesheet" th:href="@{/css/adminAdmin.css}"/>
</head>
<body>
	<div class="wrapper container-fluid">
		    <div class="row row-offcanvas row-offcanvas-left">
		        <!-- sidebar -->
		        <th:block th:include="fragments/adminUtil :: sidebar-fragment"></th:block>
		        <!-- /sidebar -->
		
		        <!-- main right col -->
		        <div class="col-md-10 col-xs-11" id="main">
		            <!--  HEADER -->
		        	<div class="row header">
		        		<div class="col-md-6">
		        			<a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a>
			            	<h3 style="display: inline-block">Manage Admin</h3>
		        		</div>
		        		
		        		<div class="col-md-6 text-right">
		        			<a class="sign-out" th:href="@{/account/logout}" class="nav-link waves-effect waves-light"> 
		              			<i class="fa fa-sign-out"></i> Log out
							</a>
		        		</div>
			            
			          
		        	</div>
		        	<!--  /.HEADER -->
		        	  <hr>
		            
		            
		            		           
		            <!-- CONTENT -->
		            <div class="row">
		               <div class="col-md-6">
								<div id="admin-panel-react"></div>	
							</div>			
							<div class="col-md-6">
								<div id="moderator-panel-react"></div>
							</div>
		            </div>
		            <!-- /.CONTENT -->
		        </div>
		        <!-- /main -->
		    </div>       
		    
		</div>		
	
    <!-- Custom Theme JavaScript -->
    <th:block th:include="fragments/adminUtil :: scriptHeader"></th:block>	
    <script th:src="@{/webpack/jsx/admin/admin/bundle.js}"></script>	
</body>
</html>