<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Event</title>

<th:block th:include="fragments/userUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/userEvent.css}"/>

</head>

<body id="page-top">
	<!--  NAV SIDEBAR -->
   	<th:block th:include="fragments/userUtil :: nav"></th:block>
    <!--  /NAV SIDEBAR -->
    
    
    <!--  MAIN  -->
     <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto" id="react-current-event">
        	<!--  TIMELINE  -->
        	
        	<!--  /.TIMELINE -->
        </div>
      </section>
     </div>
	<!--  /.MAIN  -->
	
		
<!-- Script -->
<th:block th:include="fragments/userUtil :: script"></th:block>
<!-- /.Script -->
<!--  Bundle Js -->
<script th:src="@{/webpack/jsx/user/event/current/bundle.js}"></script>
</body>
</html>