<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Add Member</title>

<th:block th:include="fragments/userUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/mdbCard.css}"/>
<link rel="stylesheet" th:href="@{/css/mdbRadio.css}"/>
<link rel="stylesheet" th:href="@{/css/react/autosuggest.css}"/>
<style>
	.bottom-border{
		border-bottom: 1px solid #eee;
	}
	.img-frame {
		margin-right: 10px !important;
	}
	.img-profile-sm{	
		width: 70px;
		height: auto;
	}
</style>
</head>
<body id="page-top">
	<div th:text="${session.account.username}" style="display:none" id="session-username"></div>
	<!--  NAV SIDEBAR -->
   		 <th:block th:include="fragments/userUtil :: nav"></th:block>
    <!--  /NAV SIDEBAR -->

       <div class="container-fluid p-0">
    	<section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="my-auto">
        	<h2 class="mb-5">Add Collaborator</h2>
        	<hr>  
       		<!-- LIST REACT -->       		  	        		  	
       		<div id="react-panel"></div>
       		<!-- /.LIST REACT -->        		
        		
        		 	
        </div>
      </section>
    </div>
	
	<div style="display:none" id="projectId" th:text="${projectId}"></div>
	
    <th:block th:include="fragments/userUtil :: script"></th:block>
    
    <!-- MDB --> 	
	<script th:src="@{/vendor/mdb/mdb.js}"></script>
	
	<script th:src="@{/webpack/jsx/user/collaboration/bundle.js}"></script>
</body>
</html>