<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Event</title>

<th:block th:include="fragments/userUtil :: header"></th:block>
<link rel="stylesheet" th:href="@{/css/userEvent.css}"/>

</head>

<body id="page-top">
	<!--  NAV SIDEBAR -->
   	<th:block th:include="fragments/userUtil :: nav"></th:block>
    <!--  /NAV SIDEBAR -->
    
    
    <!--  MAIN  -->
     <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
        	<!--  TIMELINE  -->
        	<h4 class="sub-title">
        		<a th:href="@{/user/event}">Upcomming Event</a>
        	</h4>
        	<h2 class="title">Current Event</h2>        
			<h3 class="today">Past</h3>
			<ul class="timeline">
			    <li>
			        <div class="timeline-badge">
			          <a><i class="fa fa-circle" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			            <div class="row timeline-heading">
			                <h4 class="col-md-6">
			                	<a th:href="@{/user/timeline}">Timeline Event</a>
			                </h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
			            </div>
			            <div class="timeline-footer">
			                <p class="text-right">Feb-21-2014</p>
			            </div>
			        </div>
			    </li>
			    
			    <li class="timeline-inverted">
			        <div class="timeline-badge">
			            <a><i class="fa fa-circle invert" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			            <div class="row timeline-heading">
			                <h4 class="col-md-6">Timeline Event</h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
			            </div>
			            <div class="timeline-footer">
			                <p class="text-right">Feb-23-2014</p>
			            </div>
			        </div>
			    </li>
			    
			    <li>
			        <div class="timeline-badge">
			            <a><i class="fa fa-circle" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			               <div class="row timeline-heading">
			                <h4 class="col-md-6">Timeline Event</h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Advenientibus aliorum eam ad per te sed. Facere debetur aut veneris accedens.</p>
			            </div>
			            <div class="timeline-footer">
			                <p class="text-right">Feb-23-2014</p>
			            </div>
			        </div>
			    </li>
			    
			    <li class="timeline-inverted">
			        <div class="timeline-badge">
			            <a><i class="fa fa-circle invert" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			              <div class="row timeline-heading">
			                <h4 class="col-md-6">Timeline Event</h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Volvitur ingreditur id ait mea vero cum autem quod ait Cumque ego illum vero cum unde beata. Commendavi si non dum est in. Dionysiadem tuos ratio puella ut casus, tunc lacrimas effunditis magister cives Tharsis. Puellae addita verbaque' capellam sanctissima quid, apollinem existimas filiam rex cum autem quod tamen adnuente rediens eam est se in. Peracta licet ad nomine Maria non ait in modo compungi mulierem volutpat.</p>
			            </div>
			            <div class="timeline-footer">
			                <p class="text-right">Feb-27-2014</p>
			            </div>
			        </div>
			    </li>
			    
			    <li>
			        <div class="timeline-badge">
			            <a><i class="fa fa-circle" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			              <div class="row timeline-heading">
			                <h4 class="col-md-6">Timeline Event</h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Adfertur guttae sapientiae ducitur est Apollonius ut a a his domino Lycoridem in lucem. Theophile atque bona dei cenam veniebant est cum. Iusto opes mihi Tyrum in modo compungi mulierem ubi augue eiusdem ordo quos vero diam omni catervis famulorum. Bene dictis ut diem finito servis unde.</p>
			            </div>
			            <div class="timeline-footer">
			                <p class="text-right">Mar-01-2014</p>
			            </div>
			        </div>
			    </li>
			    
			    <li  class="timeline-inverted">
			        <div class="timeline-badge">
			            <a><i class="fa fa-circle invert" id=""></i></a>
			        </div>
			        <div class="timeline-panel">
			               <div class="row timeline-heading">
			                <h4 class="col-md-6">Timeline Event</h4>
			                <ul class="list-inline list-social-icons mb-0 col-md-6 text-right">			                	
			                	  <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						           </li>
						           <li class="list-inline-item">
						              <a href="#">
						                <span class="fa-stack fa-sm">
						                  <i class="fa fa-circle fa-stack-2x"></i>
						                  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
						                </span>
						              </a>
						            </li>
			                </ul>
			            </div>
			            <div class="timeline-body">
			                <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
			            </div>
			            <div class="timeline-footer primary">
			                <p class="text-right">Mar-02-2014</p>
			            </div>
			        </div>
			    </li>
			    <li class="clearfix no-float"></li>
			</ul>
        	<!--  /.TIMELINE -->
        </div>
      </section>
     </div>
	<!--  /.MAIN  -->
	
		
<!-- Script -->
<th:block th:include="fragments/userUtil :: script"></th:block>
<!-- /.Script -->
</body>
</html>