<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Project</title>

<th:block th:include="fragments/userUtil :: header"></th:block>
<style>
	.header {
		display:inline-block;
	}
	#new-project{
		font-weight: 600;
		font-size: large;
	}	
	.bottom-border{
		border-bottom: 3px solid #eee;
	}
	.add-member{
		margin-left: 5px;
	}
	.member-name{
		margin: 0 2px;
	}
    
	
</style>
</head>
<body id="page-top">
	<!--  NAV SIDEBAR -->
   	<th:block th:include="fragments/userUtil :: nav"></th:block>
    <!--  /NAV SIDEBAR -->
    <div class="container-fluid p-0">
    	<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto" id="react-project-panel">        		 	
        </div>
      </section>
    </div>
	

<th:block th:include="fragments/userUtil :: script"></th:block>
<script th:src="@{/webpack/jsx/user/project/bundle.js}"></script>
</body>
</html>